{% extends 'base.html' %}
{% load static %}

{% block body %}
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Müəllimlər Modulu /</span> Qruplar</h4>
              {% if request.user.is_superuser %}
              <a href="{% url 'group_add' %}"><button class="btn btn-primary" type="submit" style="margin-bottom: 20px;">Qrup əlavə et</button></a>
              {% endif %}
              <!-- Examples -->
              <div class="row mb-5">
                {% for group in groups %}
                {% if request.user.is_staff or request.user == group.teach.user %}
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">{{ group.name }}</h5>
                      
                    </div>
                    <!-- <img class="img-fluid" src="{{ teacher.profilepic.url }}" alt="Card image cap" /> -->
                    <div class="card-body">
                      <p class="card-text"><span>Müəllim:   </span>{{ group.teach }}</p>
                      <p class="card-text"><span>Dərs:   </span>{{ group.lesson }}</p>
                      <p class="card-text"><span>Gün:   </span>{{ group.lesdays }}</p>
                      <a href="{{ group.get_url }}" class="card-link">ətrafli bax</a>
                      
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
               
              </div>
              </div>
              </div>
              <!-- Examples -->
{% endblock %}

            
