{% extends 'base.html' %}
{% load static %}

{% block body %}

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Qrup detalları </span></h4>

              <div class="row">
                <div class="col-md-12">
                  
                  <div class="card mb-4">
                    <h5 class="card-header">{{ group.name }} </h5>
                    <!-- Account -->
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <!-- <img
                          src="{{ teach.profilepic.url }}"
                          alt="user-avatar"
                          class="d-block rounded"
                          height="100"
                          width="100"
                          id="uploadedAvatar"
                        /> -->
                        <div class="button-wrapper">
                         <p class="text-muted mb-0">Dərsin müəllimi:   </p><span>{{ group.teach.name }}</span>
                          <p class="text-muted mb-0">Dərsin adı:   </p><span>{{ group.lesson }}</span>
                          <p class="text-muted mb-0">Dərs günü:    </p><span>{{ group.lesdays }}</span>
                          <p class="text-muted mb-0">Dərsə başlama tarixi:    </p><span>{{ group.begin_date }}</span>
                          <p class="text-muted mb-0">Dərsi bitirəcəkləri tarix:      </p><span>{{ group.end_date }}</span>

                          <!-- <p class="text-muted mb-0">Müəllim İD:</p><span>{{ teach.techerid }}</span> -->
                        </div>
                      </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                      
                    </div>
                    <!-- /Account -->
                  </div>
                  <div class="card">
                    
                    <div class="card-body">
                      <a  href="{% url 'group_update' group.id %}"><button style="margin-bottom: 20px; "  type="submit" class="btn btn-danger deactivate-account">Update Group</button></a>
                      <form id="formAccountDeactivation" onsubmit="return false">
                        
                        <a href="{% url 'group_delete' group.id %}"><button type="submit" class="btn btn-danger deactivate-account">Delete Group</button></a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

           {% endblock %}
