{% extends 'base.html' %}
{% load static %}

{% block body %}
<style>
  #layout-navbar {
    display: None !important;
  }
</style>

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Qrup detalları </span></h4>

              <div class="row">
                <div class="col-md-12">
                  
                  <div class="card mb-4">
                    <h5 class="card-header">Qrup:  {{ group.name }} </h5>
                    <!-- Account -->
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                       
                        <div class="button-wrapper">
                         <p class="text-muted mb-0">Qrupun müəllimi:   </p><span style="color: rgb(17, 16, 16);"> <h4>{{ group.teach.name }} {{ group.teach.surname }}</h4></span>
                          <p class="text-muted mb-0">Qrupun tələbələri:   </p>{% for s in group.student_set.all%} <p style="color: rgb(86, 86, 236);"><strong>{{ s.name }} {{s.surname}}</strong></p>{% endfor %}
                          <p class="text-muted mb-0">Qrupun taskları:   </p>{% for t in group.task_set.all %}<p style="color: rgb(16, 16, 19);"><strong>{{ t.title }}</strong></p>{% endfor %}

                          {% if request.user.is_staff %}
                          <a href="{% url 'group_delete' group.id %}"><button class="btn btn-primary" type="submit" style="margin-bottom: 20px;">Qrupu sil</button></a>
                          <a href="{% url 'group_update' group.id %}"><button class="btn btn-primary" type="submit" style="margin-bottom: 20px;">Qrupu update et</button></a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                      
                    </div>
                    <!-- /Account -->
                  </div>
                 
                </div>
              </div>
            </div>
            <!-- / Content -->

           {% endblock %}
