{% extends 'base.html' %}
{% load static %}

{% block body %}
<style>
    #layout-navbar {
      display: None !important;
    }
  </style>
  <style>
    .bg-footer-theme{
        display: none !important;
    }
  </style>

{% load crispy_forms_tags %}

<div class="container" style="margin-top: 150px;">
    <div class="row-justify-content-md-center">
        <div class="col">

            <form method="POST" enctype="multipart/form-data" style="width: 500px; margin: auto;">
                {% csrf_token %}

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger">
                    <strong>{{ message }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                
                {{ form|crispy }}
            
                <button type="submit" style="margin-top: 20px;">Giriş et</button>
            </form>

        </div>

    </div>
</div>







{% endblock %}