{% extends 'base.html' %}
{% load static %}

{% block body %}
<style>
  #layout-navbar {
    display: None !important;
  }
</style>

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
           
           {% if messages %}
           {% for message in messages %}
            
            <div class="alert alert-danger" role="alert" style="width: 95%; margin: auto; margin-top: 20px; ;">
              <strong>{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            
            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tələbə Paneli</span></h4>

              <div class="row">
                <div class="col-md-12">
                  
                  <div class="card mb-4">
                    <h5 class="card-header">{{ stud.name }} {{ stud.surname }}</h5>
                    <!-- Account -->
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img
                          src="{{ stud.profilepic.url }}"
                          alt="user-avatar"
                          class="d-block rounded"
                          height="100"
                          width="100"
                          id="uploadedAvatar"
                        />
                        <div class="button-wrapper">
                          <p class="text-muted mb-0">Təvəllüdü:</p><span>{{ stud.birthday }}</span>
                          <p class="text-muted mb-0">Qrupu:</p><span>{{ stud.group.name }}</span>
                          
                          <p class="text-muted mb-0">Kursa başlama tarixi:</p><span>{{ stud.startdate }}</span>

                          
                        </div>
                      </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                      
                    </div>
                    <!-- /Account -->
                  </div>
                 <style>
                  .card-body form a{
                    color: white;
                  }
                 </style>
                  <div class="card">
                    {% if request.user.is_superuser %}
                    <div class="card-body">
                      <form id="formAccountDeactivation" onsubmit="return false">
                       
                        <button type="submit" class="btn btn-danger deactivate-account"><a href="{% url 'student_delete' stud.id %}">Delete Student</a></button>
                      </form>
                    
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->
            <h4 style="margin-left: 20px; margin-bottom: 40px;"><strong>Cədvəl</strong></h4>
            <div class="table-responsive text-nowrap">
              <table class="table">
                <thead>
                  <tr>
                    <th>Tələbənin ad/soyadı</th>
                    {% for jo in jours %}
                    
                    <th>{{ jo.date.date_time }}</th>
                    
                    {% endfor %}
                  </tr>
                </thead>
                
                <tbody class="table-border-bottom-0">
                  
                  
                  <tr>
                    
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong><a href="">{{ stud.name }} {{ stud.surname }}</a></strong></td>
                  
                    {% for journal in stud.journal_set.all %}
                    {% if journal.existence == True %}
                    <td>
                      {{ journal.rate }}
                    </td>
                    {% elif journal.existence == False %}
                    <td>
                      qb
                    </td>
                  
                    {% endif %}
                    {% endfor %}
                    
                   
                  </tr>
                
                </tbody>
              
              </table>
            </div>

            <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">Tasklar</h4>
            <div class="row mb-5">
              {% for task in stud.group.task_set.all %}
              <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title">{{ task.title }}</h5>
                    
                  </div>
                  
                  <div class="card-body">
                    <p class="card-text"><span >Qrup:   </span><strong>{{ task.group.name }}</strong></p>
                    <p class="card-text"><span >Taskın bitmə vaxtı:   </span><strong>{{ task.deadline }}</strong></p>
                    
                    <a href="{{ task.get_url }}" class="card-link">ətrafli bax</a>
                    
                  </div>
                </div>
              </div>
              {% endfor %}
             
            </div>

          </div>
        

           {% endblock %}
