{% extends 'base.html' %}
{% load static %}

{% block body %}
<style>
  #layout-navbar {
    display: None !important;
  }
</style>

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            
            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tələbə Modulu /</span> Tasklar bazası</h4>
              
                {% if request.user.is_staff or request.user == tasks.teacher.user  %}
              <a href="{% url 'task_create' %}"><button class="btn btn-primary" type="submit" style="margin-bottom: 20px;">Task əlavə et</button></a>
              {% endif %}
             
              <!-- Examples -->
              <div class="row mb-5">
                {% for task in tasks %}
                {% if request.user.is_staff or request.user == task.teacher.user  %}
                <div class="col-md-6 col-lg-4 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">{{ task.title }}</h5>
                      
                    </div>
                    
                    <div class="card-body">
                      <p class="card-text"><span >Qrup:   </span><strong>{{ task.group.name }}</strong></p>
                      <p class="card-text"><span >Taskın bitmə vaxtı:   </span><strong>{{ task.deadline }}</strong></p>
                      
                      <a href="{{ task.get_url }}" class="card-link">ətrafli bax</a>
                      
                    </div>
                  </div>
                  
                </div>
               
                {% endif %}
                {% endfor %}
               
              </div>
              
              </div>
              </div>
              <!-- Examples -->
{% endblock %}

            
